# MongoDB Connection URI
MONGO_URI=mongodb+srv://chakravarthiguduru_db_user:OHAoyC7FLNJDBTkM@cluster0.1pa62ly.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0


# JWT Secret for token generation
JWT_SECRET=your_jwt_secret_key_min_32_chars

# Server Port
PORT=5000

# Frontend URL for CORS
FRONTEND_URL=http://localhost:5173

# Admin Secret for creating admin accounts
ADMIN_SECRET=your_admin_secret_key